footer {
  background-color: #ffffff;
  height: 60px;
  width: 100%;
  bottom: 0;
  position: fixed;
  border-top: 1px #CCCCCC;
  border-style: solid hidden hidden hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
